<%= render 'shared/page_title' ,title:@wallpaper.name%>

<div class="row">
<div class="col-md-4 pull-right center">
<%= gravatar_for @wallpaper.user ,size:200%>
<p>
	<h5>Brought to you by: <%= @wallpaper.user.name%></h5>
</p>
	</div>
	<div class="col-md-8">
	<%=link_to "Edit the wallpaper",edit_wallpaper_path(@wallpaper),class:"btn btn-success pull-right" %>
		<h3><%=@wallpaper.summary%></h3>
		<div class="well">
			<p>
				<strong>Steps:</strong>
			</p>
			<%=simple_format(@wallpaper.description)%>
		</div>
	</div>
</div>
<h5><%=link_to 'Return to wallpaper',wallpapers_path,class:"btn btn-warning btn-small"%></h5>